@font-face {
	font-family: Novecentowide;
	src: url('../fonts/Novecentowide-Bold.otf');
}
@font-face {
	font-family: CoolveticaRg;
	src: url('../fonts/coolvetica_rg.otf');
}

@font-face {
	font-family: PT-Sans;
	src: url('../fonts/PT-Sans/PTS55F.ttf');
}
font-family: PT-Sans, sans-serif;

/*adding some style for buttons*/
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.buttonder {
    background: transparent url('../img/botonder.png') no-repeat scroll top ;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 35px;
    width: 180px;
    margin:5px;
    padding-top:15px;
   	font-family:PT-Sans;
   	font-size:1em;
    text-decoration: none;
    z-index:100;
    position: relative;
}
a.buttonizq {
    background: transparent url('../img/botonizq.png') no-repeat scroll top ;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 35px;
    width: 180px;
    margin:5px;
    padding-top:15px;   
    font-family:PT-Sans; 
    font-size:1em;
    text-decoration: none;
    z-index:100;
    position: relative;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
